body {
 
 }
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url("Background_Clouds.png");
    -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  }

@-webkit-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}
