table,
th,
td {
    border: 1px solid black;
}

#game_ticTacToe_GameTable td{
    width: 100px;
    height: 100px;
    background-color:white;

}

#game_ticTacToe_GameTable{
    text-align: center;
}

.game_DIV{
    margin: 10px;
    min-height: 500px;
    min-width: 660px;
    padding: 10px;
    background-color: rgb(175, 140, 140);
    border-radius: 30px;
}

.game_DIV h1{
 text-align: center;
}